@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/nunito-sans-v6-latin-300.eot");
  src: local(""),
    url("../fonts/nunito-sans-v6-latin-300.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/nunito-sans-v6-latin-300.woff2") format("woff2"),
    url("../fonts/nunito-sans-v6-latin-300.woff") format("woff"),
    url("../fonts/nunito-sans-v6-latin-300.ttf") format("truetype"),
    url("../fonts/nunito-sans-v6-latin-300.svg#NunitoSans") format("svg");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/nunito-sans-v6-latin-600.eot");
  src: local(""),
    url("../fonts/nunito-sans-v6-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/nunito-sans-v6-latin-600.woff2") format("woff2"),
    url("../fonts/nunito-sans-v6-latin-600.woff") format("woff"),
    url("../fonts/nunito-sans-v6-latin-600.ttf") format("truetype"),
    url("../fonts/nunito-sans-v6-latin-600.svg#NunitoSans") format("svg");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-sans-v6-latin-800.eot");
  src: local(""),
    url("../fonts/nunito-sans-v6-latin-800.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/nunito-sans-v6-latin-800.woff2") format("woff2"),
    url("../fonts/nunito-sans-v6-latin-800.woff") format("woff"),
    url("../fonts/nunito-sans-v6-latin-800.ttf") format("truetype"),
    url("../fonts/nunito-sans-v6-latin-800.svg#NunitoSans") format("svg");
}

@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/nunito-sans-v6-latin-900.eot");
  src: local(""),
    url("../fonts/nunito-sans-v6-latin-900.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/nunito-sans-v6-latin-900.woff2") format("woff2"),
    url("../fonts/nunito-sans-v6-latin-900.woff") format("woff"),
    url("../fonts/nunito-sans-v6-latin-900.ttf") format("truetype"),
    url("../fonts/nunito-sans-v6-latin-900.svg#NunitoSans") format("svg");
}
