*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, "system-ui", "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border-top-width: 1px;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

a {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  min-width: 220px;
  height: 100%;
  font-size: 16px;
  color: #293b3d;
}

.page {
  width: 100%;
  min-height: 100%;
  background: radial-gradient(
      ellipse farthest-side at 76% 77%,
      rgba(245, 228, 212, 0.25) 4%,
      rgba(255, 255, 255, 0) calc(4% + 1px)
    ),
    radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%),
    linear-gradient(135deg, #ff0000 0%, #000036 100%),
    radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%),
    linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
  background-blend-mode: normal, normal, screen, overlay, normal;
  overflow: hidden;
}

header,
main {
  width: 88%;
  margin: 0 auto;
}

.container {
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0 4rem;
}

.header {
  margin-top: 1vh;
  padding: 0.5rem 0;
}

.header img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.social-handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 18px;
}

.name {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.main-wrapper {
  margin-top: 6px;
  text-align: center;
}

.hero-container {
  padding: 0.5rem 0;
}

.hero-container h1 {
  font-size: 30px;
  line-height: 36px;
}

.hero-container p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 28px;
  max-width: 46ch;
  margin-left: auto;
  margin-right: auto;
}

.links-container {
  margin-top: 0.75rem;
  text-align: center;
  padding: 0.5rem 0;
}

.links-container h2 {
  font-size: 26px;
  font-weight: bold;
}

.links-item {
  margin-top: 1.75rem;
}

.links-item a {
  border: 1px solid #3c99a3;
  display: block;
  width: 70%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
  border-radius: 12px;
  background: #242424;
  font-size: 20px;
  color: #98dbe3;
  font-weight: bold;
  box-shadow: 5px 5px 0px #98dbe3, -5px -5px 0px #659da3;
}

.links-item a:hover {
  background: #98dbe3;
  color: #242424;
  box-shadow: 5px 5px 0px #659da3, -5px -5px 0px #3a5457;
}

.projects {
  margin-top: 1.5rem;
}

.projects h3 {
  font-size: 18px;
}

.project-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects a {
  padding: 8px 8px;
  margin: 0 1rem;
  font-weight: bold;
  font-size: 20px;
}

.projects a:hover {
  text-decoration: underline;
  color: #659da3;
}
